*{
    font-family: Arial;
}

body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}

p{
    font-size: 1.3em;
    text-align: center;
}

.links_box{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.links_box > div {
    border: 1px white solid;
    padding: 3%;
}

.links{
    text-decoration: none;
    font-size: 3.5em;
    color: white;
}

.links:hover{
    color: #2f2f2f;
}

.silvester{
    text-align: center;
}
