*{
    box-sizing: border-box;
    font-family: "Chalkduster";
}

body{
    background-color: #2f2f2f;
    width: 100vw;
    margin: 0;
    color: white;
    overflow: hidden;
}

.content{
    display: flex;
}

h2{
    font-size: 3em;
}

.info{
    width: 50vw;
}

.matrix {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    width: 30vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.matrixElement > button{
    width: 8vw;
    height: 8vw;
}

#playerState{
    text-align: center;
    font-size: 5vh;
    height: 16vh;
    padding-bottom: 2vh;
}

#playerState > p {
    margin: 0;
    padding-bottom: 0.5vh;
}

#stats{
    text-align: center;
}

.input{
    text-align: center;
}

@media screen and (max-width: 1000px){
    .content{
        display: block;
        text-align: center;
        width: 100vw;
    }
    .matrix{
        margin-top: 3%;
        width: 50vw;
        justify-content: space-between;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .matrixElement > button{
        width: 15vw;
        height: 15vw;
    }
    .matrixElement > button > h2 {
        margin: 0;
    }
    .info{
        width: 80vw;
        margin: 10vw;
    }
    #playerState {
        font-size: 4vh;
    }
}

@media screen and (max-width: 640px){
    .content{
        display: block;
        text-align: center;
        width: 100vw;
    }
    .matrix{
        margin-top: 3%;
        width: 50vw;
        justify-content: space-between;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .matrixElement > button{
        width: 15vw;
        height: 15vw;
    }
    .matrixElement > button > h2 {
        margin: 0;
    }
    .info{
        width: 80vw;
        margin: 10vw;
    }
}